
}
.card-usuario img {
    width: 100%;
}
.card-usuario .datos-usuario span,
.card-usuario .datos-usuario {
    display: block;
    text-align: center;
}
.card-usuario .datos-usuario + .datos-usuario {
    margin-top: 1rem;
}
.card-usuario .datos-usuario span:nth-child(1) {
    font-size: 1.3em;
}
.card-usuario .datos-usuario span:nth-child(2) {
    font-size: .8em;
}

.card-usuario .seccion-datos {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
}
.card-usuario .seccion-datos h5 {
    font-size: 1.1em;
    font-weight: normal;
}
.card-usuario .seccion-datos p {
    font-size: .8em;
    color: #808080;
    margin-bottom: 1.25rem;
}
.seccion-datos .botones-redes {
    margin-bottom: 1.25rem;
}
.seccion-datos .botones-redes a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.seccion-datos > a {
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}
.seccion-datos > a:hover {
    color: #5E5E5E;
}
.seccion-datos .botones-redes a.facebook {
    background-color: #5E80FF;
}
.seccion-datos .botones-redes a.X {
    background-color: #36BEC7;
}
.seccion-datos .botones-redes a.instagram {
    background: linear-gradient(#D482FF, #80A7FF);
}
.seccion-datos .bio-usuario {
    font-size: 0.9rem;
    color: #858585;
}

@media (max-width: 780px) {
    .card-usuario {
        flex-direction: column;
        width: 320px;
    }
    .card-usuario .seccion-avatar {
        display: flex;
        align-items: center;
    }
    .seccion-avatar .avatar {
        margin-right: 1rem;
        width: 55px;
        height: 55px;
        border: 3px solid #fff;
        margin-bottom: 0;
    }
    .card-usuario .seccion-avatar .datos-usuario {
        margin: 0;
        margin-right: 1rem;
    }
    .card-usuario .seccion-avatar .datos-redes {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;
    }
    .card-usuario .datos-usuario span:nth-child(1) {
        font-size: 1.1em;
    }
    .card-usuario .datos-usuario span:nth-child(2) {
        font-size: .7em;
    }
}
